{% extends "base.html" %}
{% block content %}
<h2>Sign up</h2>
{% if error %}<div class="error"><p><strong>Error:</strong> {{ error|safe }}</p></div>{% endif %}
<form action="" method="post">
  <dl>
    <dt>Username:
    <dd><input type="text" name="username" id="username" size="30" value="{{ request.form.username }}">
    <dt>Password:
    <dd><input type="password" name="password" id="password" size="30">
  </dl>
  <div class="actions"><input type="submit" value="Sign Up"></div>
</form>
{% endblock %}

