<!--sub-template for an event -->
<a href="{{url_for('event',id=event.event_id)}}" class="event_link">
<table>
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=event.user.username) }}">
                    <img src="{{ event.user.avatar(70) }}" />
                </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=event.user.username) }}">
                {{ event.user.username }}
            </a>: 
            {{ event.title }}
            <br>
            <h5>{{event.start_time.strftime('%Y-%m-%d')}} to {{event.end_time.strftime('%Y-%m-%d')}}</h5>
        </td>
        <td>
            {% if g.user%}
                {%if event in g.user.events%}
                    {%if event in g.user.hosted_events%}
                        <td><a href="{{ url_for('delete_event',event_id=event.event_id) }}">Delete Event</a></h4></td>
                    {%else%}
                    <td><a href="{{ url_for('remove_event',prev_url='index',event_id=event.event_id) }}">Remove Event</a></h4></td>
                    {%endif%}
                {%else%}
                    <td><a href="{{ url_for('add_event',prev_url='index',event_id=event.event_id)}}">Add Event</a></h4></td>
                {%endif%}
            {% endif %}
            </td>
    </tr>
</table>
</a>