{% extends "base.html" %}
{% block content %}
    <h1>{{event.title}}!</h1>
    <h5>{{event.start_time.strftime('%Y-%m-%d')}} to {{event.end_time.strftime('%Y-%m-%d')}}</h5>
    <h3>{{event.body}}!</h3>
    <br>
    <h4>
        Hosted by         
        <a href="{{ url_for('user', username=hosted_user.username) }}">{{ hosted_user.username }}</a>
    </h4>

    <h4>Users who are joining:</h4>
    {% for user in users %}
        {%if user.user_id != event.hosted_user_id%}
            {% include '_user.html' %}
        {%endif%}
    {% endfor %}
{% endblock %}