{% extends "base.html" %}
{% block content %}
  <h2>New Category</h2>
  <div class="error" id="error"><strong></strong></div>
  <form action="" method="post">
    <dl>
      <dt>Limit:
      <dd>$<input type="number" name="limit" id="limit" size="30" value="{{ request.form.limit }}">
      <dt>Name:
      <dd><input type="text" name="category_name" id="category_name" size="30" value="{{ request.form.category_name }}">
    <div class="actions"><input type="submit" value="Submit" id="newCategoryButton"></div>
  </form>
{% endblock %}
